.food-img{
    height: 300px;
    width: 500px;
    background-size: cover;
}
.food-display-div{
    display: flex;
    flex-direction: row;
    gap: 50px;
    flex-wrap: wrap;
    padding: 120px 50px 50px 50px;
    justify-content: space-around;
}
.food-display{
    display: flex;
}
.delete-cart-item-button{
    background-color: crimson;
    border-radius: 6px;
    padding: 6px;
    color: white;
}