.food-img{
    height: 300px;
    width: 500px;
    background-size: cover;
}
.food-display-div{
    display: flex;
    flex-direction: row;
    gap: 50px;
    flex-wrap: wrap;
    padding: 50px;
    justify-content: space-around;
}
.food-display{
    display: flex;
}