.accordian {
  margin-top: 20px;
}
.accordian .inactive {
  display: none;
}
.accordian div {
  background-color: #f1f1f6;
  padding: 0 15px;
}
.accordian .accordian-heading {
  color: #3e4152;
  font-weight: 800;
  font-size: 1.3rem;
  /* color: aqua;
  padding-bottom: 20px; */
  padding: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  cursor: pointer;
}

.accordion-inner-content {
  display: flex;
}
.accordian .food-detail-wrapper {
  padding: 20px;
  display: flex;
  justify-content: space-between;
  border-top: 0.5px solid #d3d3d3;
  align-items: center;
}
.accordian .inner-food-img {
  border: 0.3px solid lightgrey;
  border-radius: 5px;
  overflow: hidden;
  /* max-height: 30px;
  max-width: 30px; */
}
.accordian .inner-food-img  {
  /* height: 100%; */
  /* width: 100%; */
  max-height: 150px;
  max-width: 150px;
}
.accordian-add-button {
  border-radius: 5px;
}
.accordian-content-wrapper {
  border-bottom: 1px solid grey;
}
.accordian-content-wrapper:last-child {
  border-bottom: 1px solid transparent;
}
.food-type-image {
  height: 24px;
}
.food-name {
  display: flex;
  gap: 4px;
  font-size: 1.22rem;
  align-items: center;
  color: #3e4152;
}
.food-detail {
  text-align: left;
}
/* .food-price {
  font-size: 1rem;
} */
.rupee:before {
  content: "\20B9";
  margin-right: 0.1rem;
}
.restaurant-details-top {
  display: flex;
  justify-content: space-between;
  padding-bottom: 15px;
  border-bottom: 1px dashed #d3d3d3;
}
.restaurant-name {
  font-size: 1.43rem;
  font-weight: 600;
  color: #282c3f;
  /* margin-bottom: 8px; */
  text-transform: capitalize;
}
.restaurant-sub-detail {
  font-size: 0.93rem;
  color: #7e808c;
  height: calc(0.93rem + 2px);
  text-overflow: ellipsis;
  margin-bottom: 4px;
  white-space: nowrap;
}
.restaurant-details-rating {
  border: 1px solid #e9e9eb;
  box-shadow: 0 1px 5px #f9f9f9;
  border-radius: 6px;
  text-align: center;
  padding: 8px;
  max-width: 100px;
  float: right;
}
.restaurant-rating {
  color: #3d9b6d;
  font-weight: 700;
  margin-bottom: 8px;
  display: block;
}
.rating-icon {
  color: #3d9b6d;
}
.rating-wrapper {
  display: flex;
  justify-content: center;
  /* padding-bottom: 10px; */
  border-bottom: 1px solid #e9e9eb;
  margin-bottom: 10px;
}
